/* Fonts */
@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}
/* List styles */
ul {
  margin-left: -1rem;
}
li {
  padding-left: 1rem;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Outfit";
  color: hsl(var(--clr-dark-charcoal));
  background-color: hsl(var(--clr-white));
  padding-bottom: 1rem;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Custom propertes */

:root {
  /* Primary */
  --clr-nutmeg: 14, 45%, 36%;
  --clr-dark-raspberry: 332, 51%, 32%;
  /* Neutral */
  --clr-white: 0, 0%, 100%;
  --clr-rose-white: 330, 100%, 98%;
  --clr-eggshell: 30, 54%, 90%;
  --clr-light-grey: 30, 18%, 87%;
  --clr-wenge-brown: 30, 10%, 34%;
  --clr-dark-charcoal: 24, 5%, 18%;
}

/* Utility classes */

.box {
  padding-inline: 2rem;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}

.fs-1 > *:where(:not(:first-child)) {
  margin-top: 0.65rem;
}
.fs-2 > *:where(:not(:first-child)) {
  margin-top: 1rem;
}
.fs-3 > *:where(:not(:first-child)) {
  margin-top: 1.5rem;
}
.fs-4 > *:where(:not(:first-child)) {
  margin-top: 2rem;
}

.ff-serif {
  /* Weights: 400 */
  font-family: "Young Serif";
}
.ff-sans {
  /* Weights: 400, 600, 700 */
  font-family: "Outfit";
}

.fs-400 {
  font-size: 1rem;
}
.fs-500 {
  font-size: 1.5rem;
}
.fs-600 {
  font-size: 2rem;
}
.fs-700 {
  font-size: 2.5rem;
}

.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

.fc-nutmeg {
  color: hsl(var(--clr-nutmeg));
}

/* Page styles */

.prep {
  padding: 1.75rem;
  border-radius: 0.75rem;
  background-color: #fff7fc;
}
.prep > h3 {
  color: hsl(var(--clr-dark-raspberry));
}

.ingredients,
.instructions {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid hsl(var(--clr-dark-charcoal), 0.2);
}

.nutrition-facts {
  margin: 0;
  padding: 1rem 0;
}
.nutrition-facts > * {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.75rem 0 0.75rem 2rem;
  border-bottom: 1px solid hsl(var(--clr-dark-charcoal), 0.2);
}

/* Media queries */

@media (min-width: 40rem) {
  header {
    padding: 2rem 2rem 0 2rem;
  }
  .hero {
    border-radius: 0.75rem;
  }
  body {
    max-width: 50rem;
    border-radius: 1rem;
  }
  html {
    display: flex;
    justify-content: center;
    background-color: hsl(var(--clr-eggshell));
    padding: 7.5rem 2rem;
  }
}
